{% extends 'admin/base-admin.html.twig' %}
{% block title %}Projects index{% endblock %}

{% block body %}
    <a href="{{ path('admin') }}">Back to Admin</a>
    
    <h1>Projects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Content</th>
                <th>Github</th>
                <th>Live</th>
                <th>Techno</th>
                <th>Date</th>
                <th>Display</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.image }}</td>
                <td>{{ project.content }}</td>
                <td>{{ project.github }}</td>
                <td>{{ project.live }}</td>
                <td>{{ project.techno }}</td>
                <td>{{ project.date }}</td>
                <td>{{ project.display ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('projects_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('projects_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('projects_new') }}">Create new</a>
{% endblock %}