

{% block body %}
    <button class="btn table" id="resume" style="">RESUME</button>
    <div class="table" id="resume-list">


        <div class="row header blue">
            <div class="cell">
                Id
            </div>
            <div class="cell">
                Title
            </div>
            <div class="cell">
                Company
            </div>
            <div class="cell">
                Year
            </div>
            <div class="cell">
                Content
            </div>
            <div class="cell">
                Genre
            </div>
            <div class="cell">
                Actions
            </div>
        </div>

        {% for resume in resumes %}

            <div class="row" >
                <div class="cell" data-title="Id">
                    {{ resume.id }}
                </div>
                <div class="cell" data-title="Name">
                    {{ resume.title }}
                </div>
                <div class="cell" data-title="Image">
                    {{ resume.company }}
                </div>
                <div class="cell" data-title="Content">
                    {{ resume.year }}
                </div>
                <div class="cell" data-title="Github">
                    {{ resume.content }}
                </div>
                <div class="cell" data-title="Live">
                    {{ resume.genre }}
                </div>
                <div class="cell" data-title="action">
                    {{ include('resume/_delete_form.html.twig') }}
                    <a href="{{ path('resume_edit', {'id': resume.id}) }}"><button class="btn btn-secondary btn-sm">EDIT</button></a>
                </div>
            </div>

        {% else %}

            <div class="row" >
                <div class="cell" data-title="Id">
                    no records found
                </div>
            </div>

        {% endfor %}

        <div class="">
            <a href="{{ path('resume_new') }}"><button class="btn btn-success" style="width:100%">ADD</button></a>
        </div>
    </div>
    
{% endblock %}