{% extends 'admin/base-admin.html.twig' %}

{% block title %}New Resume{% endblock %}

	{% block body %}
		<div class="edit container">
			<h2>New Resume</h2>
			<a href="{{ path('admin') }}"><button class="btn btn-primary btn-sm">BACK</button></a>
			{{ form_start(form) }}

			{{ form_errors(form) }}
			
			{{ form_row(form.title) }}
			{{ form_row(form.company) }}
			{{ form_row(form.year) }}
			{{ form_row(form.content) }}
			{{ form_row(form.genre) }}

			<button class="btn btn-warning btn-sm">{{ button_label|default('save') }}</button>

			{{ form_end(form) }}
		</div>

	{% endblock %}