{% extends 'admin/base-admin.html.twig' %}

{% block title %}Resume{% endblock %}

{% block body %}
    <h1>Resume</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resume.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ resume.title }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ resume.company }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ resume.year }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ resume.content }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ resume.genre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('resume_index') }}">back to list</a>

    <a href="{{ path('resume_edit', {'id': resume.id}) }}">edit</a>

    {{ include('resume/_delete_form.html.twig') }}
{% endblock %}