{% extends 'admin/base-admin.html.twig' %}

{% block title %}{% endblock %}

	{% block body %}
	
		<div class="wrapper">

			{# MESSAGES #}
			{{ include('message/index.html.twig') }}

			{# PROJECTS #}
			{{ include('projects/index.html.twig') }}


			{# RESUME #}
			{{ include('resume/index.html.twig') }}

			{# SKILLS #}
			{{ include('skills/index.html.twig') }}
			
			{# ABOUT #}
			{{ include('about/index.html.twig') }}
		</div>


	{% endblock %}
