{% block body %}
    
    <button class="btn table" id="message" style="">MESSAGES</button>
    <div class="table" id="message-list">

        <div class="row header">
            <div class="cell">
                Id
            </div>
            <div class="cell">
                Email
            </div>
            <div class="cell">
                Message
            </div>
            <div class="cell">
                Created_at
            </div>
            <div class="cell">
                Actions
            </div>
        </div>

        {% for message in messages %}

            <div class="row" >
                <div class="cell" data-title="Id">
                    {{ message.id }}
                </div>
                <div class="cell" data-title="Email">
                    {{ message.email }}
                </div>
                <div class="cell" data-title="Message">
                    {{ message.message }}
                </div>
                <div class="cell" data-title="Created_at">
                    {{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}
                </div>
                <div class="cell" data-title="action">

                    {{ include('message/_delete_form.html.twig') }}
                    <a href="{{ path('message_edit', {'id': message.id}) }}"><button class="btn btn-secondary btn-sm">EDIT</button></a>
                </div>
            </div>

        {% else %}

            <div class="row" >
                <div class="cell" data-title="Id">
                    no records found
                </div>
            </div>

        {% endfor %}

        <div class="">
            <a href="{{ path('message_new') }}"><button class="btn btn-success" style="width:100%">ADD</button></a>
        </div>
    </div>
{% endblock %}